.plans {
    padding: 5.6vw;

    .button {
        margin: 2vw 0 8px 0;
    }

    h2 {
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        
        &__item {
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            // O comando abaixo serve para buscar o segundo item (já que está o numero 2 ali dentro) para editar apenas ele 
            &:nth-child(2) {
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                // o comando abaixo serve para enquadrar melhor a imagem no li e preservando a imagem
                background-size: contain;
            }

            img {
                height: 83px;
                margin-bottom: 24px;
            }

            strong {
                display: block;
            }
        }
        
    }

    p {
        text-align: center;
    }
}